.signup-heading {
  color: rgb(228, 24, 24);
  text-align: center;
}
.signup-form {
  width: 50%;
  margin: 0 auto;
}
.signup-button {
  text-align: center;
}
.signup-success {
  color: rgb(31, 177, 31);
}
.alert {
 padding: 0px;
 margin-top: 10px;
}
